.button {
  display: block;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(150deg, rgb(99, 15, 102), rgb(76, 31, 80));
  cursor: pointer;
  transition: filter 200ms;
  min-width: 80px;
  box-shadow: 2px 2px 4px #777;
}

.button[theme="icon"] {
  border-radius: 100px;
  height: 48px;
  width: 48px;
  min-width: unset;
  padding: 8px;
}

.button-img {
  color: #fff;
}

.button:disabled {
  background: linear-gradient(150deg, rgb(122, 122, 122), rgb(45, 37, 46));
  cursor: default;
}

.button:enabled:hover {
  filter: brightness(1.4);
}
