@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.edit-token-bag-columns {
  display: flex;
  flex-direction: row;
}

.edit-token-column {
  flex: 1;
  padding: 32px 0px;
}

.edit-token-bag-tokens {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 16px;
  justify-content: center;
}

.edit-token-bag-bag-tokens {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
}

.edit-token-bag-divider {
  width: 2px;
  background: linear-gradient(#eee, #333 20%, #333 80%, #eee);
  margin: 0px 48px;
}

.edit-token-bag-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.edit-token-bag-bag-tokens > * {
  animation: appear 250ms ease-out forwards;
}

.edit-token-bag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 24px;
}

.edit-token-bag-button {
  margin: 0px 16px;
}
