.encounter-root {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
}

.encounter-column {
  flex: 1;
}

.encounter-set {
  margin-top: 24px;
}

.encounter-card-parent > * {
  margin-top: 16px;
}

.encounter-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.encounter-set-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  margin-right: 16px;
}

.encounter-card-name {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.encounter-deck-card-root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.encounter-deck-card-name {
  flex: 1;
}

.encounter-img {
  margin-right: 16px;
  width: 60px;
}

.encounter-deck-minus {
  width: 24px;
  height: 24px;
  color: rgb(151, 36, 36);
}

.encounter-deck-plus {
  width: 24px;
  height: 24px;
  color: rgb(59, 151, 36);
}

.encounter-deck-amount {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}

.encounter-add {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  display: inline-block;
}

.button-amount {
  margin: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
}
