@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.token-bag-area {
  position: relative;
}

.token-bag-area-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.token-bag-area-actions > * {
  margin: 0 8px;
}

.token-bag-area-tokens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.token-bag-area-tokens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.token-bag-area-tokens > * {
  margin: 8px;
  animation: appear 250ms ease-out forwards;
}
